---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
    class:list={[
        'inline-flex items-center border-b border-transparent pb-0.5 transition-colors duration-150',
        className,
        { 'border-current': isActive }
    ]}
    aria-current={isActive ? 'page' : undefined}
    href={href}
    {...props}
>
    <slot />
</a>
